// SETUP

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 125%;
}
@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap%27");

// SASS - TYPOGRAPHY

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Maitree", serif;


// SASS - COLORS

$color-green: #a3f1bd;
$color-dark-green: #71dd9c;
$color-purple: #aebdff;
$color-dark-purple: #708bff;
$color-orange: #ffb454;
$color-white: #ffffffef;
$color-black: #363636;
$color-grey: #9a9b9a;


// GENERAL STYLING

body {
  background: linear-gradient(270deg, $color-white 1%,  $color-purple 12%, $color-purple 88%, $color-white 100%);
}

h1, p {
  margin: 0;
  color: $color-black;
}

button {
  background: linear-gradient(rgb(143, 197, 143) 1%, lightgreen 100%);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $color-grey;
  font-family: $font-secondary;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.break {
  display: block;
}

// TYPOGRAPHY STYLING

h1 {
  font-family: $font-primary;
  font-size: 6rem;
}

p {
  font-family: $font-secondary;
  font-size: 1.4rem;
}


// HEADER

header {
  padding: 3rem 0;
  min-height: 50vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid $color-white;
    border-right: 0.5rem solid $color-orange;
    border-bottom: 0.5rem solid $color-orange;
    background: linear-gradient(rgb(231, 231, 193) 1%, rgb(238, 236, 144) 100%);    
    h1 {
      margin: 1rem;
      padding: 0.5rem 1rem 0;
      font-weight: 800;
      .h1Style {
        text-decoration: underline;
      }
    }
    p {
      padding: 0.75rem 0 2.5rem;
      width: 80%;
      text-align: center;
      span {
        font-style: italic;
      }
    }
  }
}

// INPUT

.search {
  min-height: 30vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  input {
    padding: 0.5rem 3.5rem;
    text-align: center;
    border: 0.2rem solid $color-orange;
    border-radius: 1rem;
    color: $color-black;
    font-size: 1.4rem;
  }
  .submitButton {
    margin-top: 0.7rem;
  }
}

.mainButtons {
  display: flex;
  justify-content: space-around;
  .foodButton {
    width: 14rem;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
  }
}


// OUTPUT

.food {
  min-height: calc(100vh - 50vh - 30vh - 7vh);
  font-family: $font-secondary;
  text-align: center;
  padding-top: 1.5rem;
  p {
    font-weight: bold;
    padding: 0.5rem;
  }
}


// FOOD OUTPUT COMPONENT

.foodOutputSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 2rem;
  .foodButtons {
    display: flex;
    justify-content: space-around;
    .foodButton {
      background-color: linear-gradient(rgb(143, 197, 143) 1%, lightgreen 100%);
      border: 0.155rem solid green;
    }
  }
  .foodContainer {
    display: flex;
  }
  .foodWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    .foodTitle {
      text-transform: uppercase;
      font-size: 25px;
      padding: 15px 0;
    }
    .foodPicture {
      height: 7.5rem;
      width: 7.5rem;
    }
    .foodPicture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
    .fa-pause-circle {
      transform: rotate(90deg);
    }
    .nutrient {
      padding: 0.25rem 0;
    }
  }
}

// SAVED PAIRS COMPONENT

.savedMain {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-family: $font-secondary;
    font-size: 2rem;
    padding: 0.3rem 0;
  }
  .homeButton {
    margin-top: 0.75rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin: 2rem 0;
    .savedPair {
      display: flex;
      .savedUserFood,
      .savedAltFood {
        text-align: center;
        text-transform: capitalize;
        p {
        padding: 0.8rem 0;
        font-size: 1rem;
        }
      }
    .savedUserPic,
    .savedAltPic {
      height: 10rem;
      width: 10rem;
    }
    .savedUserPic img,
    .savedAltPic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .savedUserPic img {
      border-radius: 30px 0 0 30px;
    }
    .savedAltPic img {
      border-radius: 0 30px 30px 0;
      border-left: 0.15rem solid black;
    }
    }
  }
}

// FOOTER

.footer {
  display: flex;
  align-items: center;
  text-align: center;
  height: 7vh;
  position: relative;
  ::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
  }
  p {
    font-size: 1rem;
  }
}

// MEDIA QUERIES

@media (max-width: 1250px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1000px) {
  // .foodSection .foodWrapper {
  //   padding-bottom: 35px;
  // }
  
  header {
    min-height: 40vh;
    .wrapper {
      h1 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.2rem;
        padding: 0.1rem 0 1.5rem;
      }
    }
  }
}

@media (max-width: 720px) {
  // .mainButtons {
  //   padding-top: 15px;
  // }
  // .food {
  //   padding-top: 15px;
  // }
  header {
    // height: 0;
    padding-bottom: 2rem;
    .wrapper {
      h1 {
        font-size: 2.5rem;
        // width: 100%;
        padding: 0;
        .blockMedia {
          display: block;
        }
      }
      p {
        font-size: 1rem;
        padding: 0.1rem 0 1.5rem;
      }
    }
  }

  form {
    input {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  .mainButtons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
    .foodButton {
      margin: 0;
      padding: 0.5rem 0;
    }
  }

  // .savedMain {
  //   min-height: 50vh;
  //   ul {  
  //     .savedUserPic,
  //     .savedAltPic {
  //       height: 4rem;
  //       width: 4rem;
  //     }
  //   }
  // }

  // .food {
  //   flex-direction: column;
  // }

  .foodOutputSection {
    margin-top: 3rem;
    .foodButton {
      padding: 0.5rem 1.5rem;
    }
  }

  .foodContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 2rem 0;
    .foodWrapper {
      margin: 0;
    }
  }

.savedMain {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-family: $font-secondary;
    font-size: 2rem;
    padding: 0.3rem 0;
  }
  .homeButton {
    margin-top: 0.75rem;
  }
  ul {
    gap: 2rem;
    .savedPair {
      .savedUserFood,
      .savedAltFood {
        p {
        display: none;
        }
      }
      .savedUserPic,
      .savedAltPic {
        height: 8rem;
        width: 8rem;
      }
    }
  }
}
}


@media (max-width: 480px) {

.mainButtons {
  .foodButton {
    width: 11rem;
  }
}

.savedMain {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-family: $font-secondary;
    font-size: 2rem;
    padding: 0.3rem 0;
  }
  .homeButton {
    margin-top: 0.75rem;
  }
  ul {
    .savedPair {
      .savedUserFood,
      .savedAltFood {
        p {
        display: none;
        }
      }
      .savedUserPic,
      .savedAltPic {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

.foodOutputSection {
  .foodButton {
    padding: 0.55rem;
  }
}

footer {
  margin-top: 2rem;
}
}

// @media (max-width: 480px) {
//   h1 {
//     font-size: 3rem;
//   }
//   .mainButtons {
//     flex-direction: column;
//     align-items: center;
//   }
//   .foodContainer {
//     flex-direction: column;
//     align-items: center;
//   }
// }

// @media (max-width: 430px) {
//   .header h1 {
//     font-size: 3rem;
//     padding: 20px 0;
//   }

//   .footer {
//     padding: 15px;
//   }
// }

// @media (max-width: 320px) {
//   .header h1 {
//     font-size: 2rem;
//     padding: 24px 0;
//   }

//   form input {
//     padding: 0;
//   }

//   .foodSection .foodButtons {
//     flex-direction: column;
//     align-items: center;
//   }
// }

// @media (max-width: 420px) {
//   .savedUserFood p,
//   .savedAltFood p {
//     display: none;
//   }
//   .savedUserPic,
//   .savedAltPic {
//     height: 120px;
//     width: 120px;
//   }
// }
