@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap%27");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 125%;
}

h1 {
  margin: 0;
}

html {
  background-color: #f5efef;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.header {
  background-color: #aebdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  color: #5c6694;
  font-weight: bold;
  text-align: center;
}
.header h1 span {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search {
  background-color: #8df8b7;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}
form input {
  border: 3px solid #19362591;
  border-radius: 1rem;
  background-color: #caf8dc;
  padding: 4px 34px;
  text-align: center;
  color: #5a5a5a;
  font-family: "Maitree", serif;
}
form .submitButton {
  font-style: none;
  background-color: #53c27f;
  margin-top: 6px;
  padding: 6px 18px;
  border-radius: 12px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #19362591;
  font-family: "Maitree", serif;
  cursor: pointer;
}

.food {
  background-color: #ffb454;
  min-height: calc(100vh - 28vh);
  font-family: "Maitree", serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 28px;
}
.food p {
  color: #6b2718;
  font-weight: bold;
  padding: 10px;
}
.food p span {
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.foodContainer {
  display: flex;
}

.foodSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.foodSection .foodWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foodSection .foodWrapper .foodTitle {
  text-transform: uppercase;
  font-size: 25px;
  padding: 15px 0;
}
.foodSection .foodWrapper .fa-pause-circle {
  transform: rotate(90deg);
}
.foodSection .foodWrapper .nutrient {
  padding: 5px 0;
}
.foodSection .foodButtons {
  display: flex;
  justify-content: space-around;
  height: 60%;
}
.foodSection .foodButtons .foodButton {
  width: 150px;
  margin-bottom: 10px;
  font-style: none;
  background-color: #53c27f;
  margin-top: 6px;
  padding: 6px 18px;
  border-radius: 12px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #19362591;
  font-family: "Maitree", serif;
  cursor: pointer;
}
.foodSection .foodPicture {
  height: 150px;
  width: 150px;
}
.foodSection .foodPicture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin: 40px 0;
}

.savedPair {
  display: flex;
}

.savedUserFood,
.savedAltFood {
  text-align: center;
  text-transform: uppercase;
}
.savedUserFood p,
.savedAltFood p {
  padding: 5px;
}

.savedUserPic,
.savedAltPic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.savedUserPic img,
.savedAltPic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.savedUserPic img {
  border-radius: 30px 0 0 30px;
}

.savedAltPic img {
  border-radius: 0 30px 30px 0;
  border-left: 2px solid black;
}

.homeLink {
  text-decoration: none;
}

.homeButton {
  width: 150px;
  margin: 15px auto;
  font-style: none;
  background-color: #53c27f;
  padding: 6px 18px;
  border-radius: 12px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #19362591;
  font-family: "Maitree", serif;
  cursor: pointer;
}

.mainButtons {
  display: flex;
  justify-content: space-around;
}
.mainButtons .foodButton {
  width: 220px;
  margin-bottom: 10px;
  font-style: none;
  background-color: #53c27f;
  margin-top: 6px;
  padding: 6px 18px;
  border-radius: 12px;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #19362591;
  font-family: "Maitree", serif;
  cursor: pointer;
}

.pairsLink {
  text-decoration: none;
}

.footer {
  background-color: #aebdff;
  text-align: center;
}

.savedMain {
  background-color: hotpink;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.savedMain h2 {
  background-color: #ffb0d7;
  font-family: "Maitree", serif;
  font-size: 38px;
  color: midnightblue;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  .foodSection .foodWrapper .nutrient {
    margin: 0;
    align-self: center;
  }
}
@media (max-width: 830px) {
  .foodSection .foodWrapper {
    padding-bottom: 35px;
  }
}
@media (max-width: 650px) {
  .mainButtons {
    padding-top: 15px;
  }

  .food {
    padding-top: 15px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  .mainButtons {
    flex-direction: column;
    align-items: center;
  }

  .foodContainer {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 430px) {
  .header h1 {
    font-size: 3rem;
    padding: 20px 0;
  }

  .footer {
    padding: 15px;
  }
}
@media (max-width: 320px) {
  .header h1 {
    font-size: 2rem;
    padding: 24px 0;
  }

  form input {
    padding: 0;
  }

  .foodSection .foodButtons {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 420px) {
  .savedUserFood p,
.savedAltFood p {
    display: none;
  }

  .savedUserPic,
.savedAltPic {
    height: 120px;
    width: 120px;
  }
}/*# sourceMappingURL=styles.css.map */