// SETUP

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 125%;
}
@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap%27");

// SASS - TYPOGRAPHY

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Maitree", serif;


// SASS - COLORS

$color-green: #a3f1bd;
$color-dark-green: #71dd9c;
$color-purple: #aebdff;
$color-dark-purple: #708bff;
$color-orange: #ffb454;
$color-white: #ffffffef;
$color-black: #363636;
$color-grey: #9a9b9a;


// GENERAL STYLING

body {
  // background-color: $color-white;
  background: linear-gradient(270deg, $color-white 1%,  $color-purple 12%, $color-purple 88%, $color-white 100%);
}

h1, p {
  margin: 0;
  color: $color-black;
}

button {
  // font-style: none;
  background-color: $color-green;
  // margin-top: 6px;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  // color: $color-black;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: 0.1rem solid $color-grey;
  font-family: $font-secondary;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: $color-dark-green;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

// TYPOGRAPHY STYLING

h1 {
  font-family: $font-primary;
  font-size: 6rem;
  font-weight: bold;
}

p {
  font-family: $font-secondary;
  font-size: 1.4rem;
}


// HEADER

header {
  padding: 3rem 0;
  height: 50vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid $color-white;
    border-right: 0.5rem solid $color-orange;
    border-bottom: 0.5rem solid $color-orange;
    h1 {
      margin: 1rem;
      padding: 0.5rem 1rem 0;
      // span {
      //   font-style: italic;
      // }
    }
    p {
      padding: 1rem 0 2.5rem;
      width: 80%;
      text-align: center;
      span {
        font-style: italic;
      }
    }
  }
}

// Search Form Component

.search {
  height: 30vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  input {
    padding: 0.5rem 3.5rem;
    text-align: center;
    border: 0.2rem solid $color-orange;
    border-radius: 1rem;
    color: $color-black;
    font-size: 1.4rem;
  }
  .submitButton {
    margin-top: 0.7rem;
  }
}

.mainButtons {
  display: flex;
  justify-content: space-around;
  .foodButton {
    width: 14rem;
    margin: 1.5rem 0;
    padding: 0.5rem 0;
  }
}


// OUTPUT

.food {
  min-height: calc(100vh - 50vh - 30vh - 5vh);
  font-family: $font-secondary;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 28px;
  p {
    color: #6b2718;
    font-weight: bold;
    padding: 10px;
    span {
      font-weight: bolder;
      font-style: italic;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }
}








// Food Output Component

.foodOutputSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  .foodButtons {
    display: flex;
    justify-content: space-around;
  }
  .foodContainer {
    display: flex;
  }
  .foodWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    .foodTitle {
      text-transform: uppercase;
      font-size: 25px;
      padding: 15px 0;
    }
    .foodPicture {
      height: 150px;
      width: 150px;
    }
    .foodPicture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
    .fa-pause-circle {
      transform: rotate(90deg);
    }
    .nutrient {
      padding: 5px 0;
    }
  }
}


// FOOTER

.footer {
  display: flex;
  align-items: center;
  text-align: center;
  height: 5vh;
  // background-color: $color-purple;
  position: relative;
  ::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: $color-purple;
    opacity: 0.2;
    z-index: -1;
  }
  p {
    font-size: 1rem;
  }
}


// SAVED PAIRS

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin: 40px 0;
}

.savedPair {
  display: flex;
}

.savedUserFood,
.savedAltFood {
  text-align: center;
  text-transform: uppercase;
  p {
    padding: 5px;
  }
}

.savedUserPic,
.savedAltPic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.savedUserPic img,
.savedAltPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.savedUserPic img {
  border-radius: 30px 0 0 30px;
}

.savedAltPic img {
  border-radius: 0 30px 30px 0;
  border-left: 2px solid black;
}

.homeButton {
  margin-top: 0.75rem;
}



.pairsLink {
  text-decoration: none;
}



.savedMain {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    background-color: rgb(255, 176, 215);
    font-family: $font-secondary;
    font-size: 38px;
    color: midnightblue;
    padding: 10px 0;
  }
}





// Media queries

@media (max-width: 1200px) {
  .foodSection .foodWrapper .nutrient {
    margin: 0;
    align-self: center;
  }
}

@media (max-width: 830px) {
  .foodSection .foodWrapper {
    padding-bottom: 35px;
  }
}

@media (max-width: 650px) {
  .mainButtons {
    padding-top: 15px;
  }
  .food {
    padding-top: 15px;
  }
}


@media (max-width: 1000px) {

}

@media (max-width: 830px) {

}

@media (max-width: 700px) {
  h1 {

  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  .mainButtons {
    flex-direction: column;
    align-items: center;
  }
  .foodContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .header h1 {
    font-size: 3rem;
    padding: 20px 0;
  }

  .footer {
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .header h1 {
    font-size: 2rem;
    padding: 24px 0;
  }

  form input {
    padding: 0;
  }

  .foodSection .foodButtons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .savedUserFood p,
  .savedAltFood p {
    display: none;
  }
  .savedUserPic,
  .savedAltPic {
    height: 120px;
    width: 120px;
  }
}
